<form
  type="file"
  (ngSubmit)="postForm()"
  [formGroup]="form"
  enctype="multipart/form-data"
>
  <label for="file" class="form-label badge bg-secondary accordion-header"
    >File</label
  >
  <input
    type="file"
    name="upload_file"
    id="file"
    class="form-control"
    (change)="extractFile($event)"
  />
  <br />

  <label
    for="description"
    class="form-label badge bg-secondary accordion-header"
    >Description</label
  >
  <input
    type="text"
    name="description"
    id="description"
    class="form-control"
    formControlName="description"
  />
  <br />
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
